* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

.bar {
  height: auto;
  width: 100%;
  padding: 5px 20px;
  /* background-color: rgba(0, 17, 76, 0.948); */
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bar::after {
  content: "";
  height: 3px;
  width: 0px;

  background-color: rgb(46, 255, 185);
  position: absolute;
  bottom: 0;
  left: 0;

  transition: 1s;
}

.bar:hover::after {
  width: 100%;
}

.ch {
  height: 70px;
  /* border: 1px solid black; */
}

.ch1 {
  /* display: none; */
  width: 100%;
  padding: 4px;
}
.icon {
  height: auto;
  width: 57px;
  margin-top: 2.5px;
  text-align: center;
  /* background: linear-gradient(to right, rgb(255, 102, 0),rgb(255, 0, 0), rgb(123, 0, 255) ); */
  border-radius: 50px;
  /* border: 1px solid black; */
  /* background-image: url('img5.png'); */
  box-shadow: 0px 0px 20px 5px rgb(0, 255, 255);
  background-color: rgb(255, 196, 196);
}

.ch2 {
  /* display: none; */
  width: 180%;
}

.ch3 {
  /* display: none; */
  width: 250%;
}

.ch4 {
  /* display: none; */
  width: 40%;
}

/*TRAIN DESIGN*/

/* .train{
  height: auto;
  width: 100%;
  padding: 1px 0;
}

.p{
  color: white;
  font-size: 1.7rem; 
  text-align: center;
  animation: train 10s infinite; 
}
.p1{
  color: rgb(255, 85, 0);
  font-weight: bold;
}

.p2{
  color: blue;
  font-size: 1.5rem;
}

@keyframes train {
  0%{transform: translateX(-25%);}
  50%{transform: translateX(25%);}
  100%{transform: translateX(-25%);}
} */

/*video design*/

.video-div {
  height: 450px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  /*align buttons*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.train1 {
  height: auto;
  width: 100%;
  padding: 5px;

  position: absolute;
  top: 70px;
  left: 10px;
}
.p111 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: Poetsen One;
  /* background: linear-gradient(to right, rgb(242, 255, 0),rgb(255, 77, 77), rgb(123, 0, 255) ); */

  background: linear-gradient(135deg, #001eff 0%, #60efff 50%, #FFEE00 50%);
  background-clip: text;
  color: transparent;
}
.p21 {
  font-size: 1.8rem;
}

.vid1 {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

/*2nd navbar design*/
/* 
.main1{
  height: auto;
  width: 100%;
  padding: 5px 20px;


  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ch1{
  height: 70px;
  width: 100%;
  border: 1px solid black;
}

.ch11{

  width: 100%;
}

.ch22{

  width: 180%;
}

.ch33{

  width: 250%;
}

.ch44{
  width: 40%;
} */

/*first 2 buttons design*/

.btn {
  position: absolute;
  top: 75%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn1 {
  margin-right: 80px;
}

.b {
  text-align: center;
  padding: 8px 40px;
  font-size: 1.6rem;
  font-weight: ;
  font-family: Permanent Marker;
  border-radius: 50px;
  border: none;
  /* background-color: rgb(255, 199, 101); */
  background-color: rgb(255, 162, 0);
  transition: 0.5s;
}
.b:hover {
  color: aqua;
  font-size: 1.8rem;
  box-shadow: 0px 0px 20px 5px rgba(255, 234, 01, 1);
  background-color: rgba(0, 0, 97, 0.944);
  transform: scale(1.1);
  cursor: pointer;
}

/*go back top button*/

.fa-solid {
  color: rgba(0, 0, 255, 0.5);
  background-color: transparent;
  position: fixed;
  right: 10px;
  bottom: 100px;
  display: none;
  cursor: pointer;
  transition: 0.5s;
}

.fa-solid:hover {
  color: rgba(0, 0, 137, 1);
  box-shadow: 0px 0px 40px 10px rgb(0, 255, 255);
  background-color: transparent;
  border-radius: 500%;
  transform: scale(1.1);
}

/*whatspp*/

.fa-brands {
  color: rgba(0, 255, 0, 1);
  position: fixed;
  right: 10px;
  bottom: 160px;
  cursor: pointer;
  transition: 0.5s;
}
.fa-brands:hover {
  box-shadow: 0px 0px 40px 5px rgba(0, 255, 0, 1);
  border-radius: 500%;
  transform: scale(1.1);
}
